# Directorios
venv/
__pycache__/

# Archivos
*.pyc
*.pyo
*.pyd
*.log

# Archivos de variables de entorno
.env
.env.*

# Archivos de configuración personalizados
config.ini

# Archivos de dependencias o entorno de desarrollo
requirements.txt
dev-requirements.txt

# Archivos generados por el IDE
.vscode/

